<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.apibackserver.backend_api.mapper.MenuItemMapper">

    <!-- 최상위 메뉴 가져오기 -->
    <select id="findRootMenus" resultType="com.apibackserver.backend_api.dto.MenuItemDto">
        SELECT
            menu_id AS menuId,
            super_menu_id AS superMenuId,
            menu_url AS menuUrl,
            menu_desc AS menuDesc
        FROM
            menu_mst
        WHERE
            super_menu_id IS NULL
    </select>

    <!-- 특정 메뉴의 자식 가져오기 -->
    <select id="findChildren" parameterType="string" resultType="com.apibackserver.backend_api.dto.MenuItemDto">
        SELECT
            menu_id AS menuId,
            super_menu_id AS superMenuId,
            menu_url AS menuUrl,
            menu_desc AS menuDesc
        FROM
            menu_mst
        WHERE
            super_menu_id = #{parentId}
    </select>

</mapper>
