.header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #343a40;
    color: white;
  }
  
  .header-container {
    display: flex;
    align-items: center;
  }
  
  .header-logo {
    width: 100px; /* 로고 크기 */
    height: 100px; /* 로고 크기 */
    margin-right: 10px;
  }
  
  .header-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  